<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.conreality.plugins.pulse">

  <!-- See: https://developer.android.com/reference/android/Manifest.permission#ACCESS_COARSE_LOCATION -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <!-- See: https://developer.android.com/reference/android/Manifest.permission#BLUETOOTH -->
  <uses-permission android:name="android.permission.BLUETOOTH"/>

  <!-- See: https://developer.android.com/reference/android/Manifest.permission#BLUETOOTH_ADMIN -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
</manifest>
